<div class="nn-footer">
  <p>
    <a href="{{ '/' | relative_url }}">Bhavith Chandra</a>
    ·
    <a href="{{ '/publications/' | relative_url }}">Publications</a>
    ·
    <a href="{{ '/cv/' | relative_url }}">CV</a>
    ·
    <a href="{{ '/teaching/' | relative_url }}">Teaching</a>
  </p>
  <p>
    <a href="https://github.com/Bhavith-Chandra">GitHub</a> ·
    <a href="https://scholar.google.com/citations?user=nV1hdiMAAAAJ&hl=en">Google Scholar</a> ·
    <a href="https://www.linkedin.com/in/bhavith-chandra">LinkedIn</a>
  </p>
</div>
